<h2>All Songs</h2>

<div class="wrapper">
	<% @categories.each do |category| %>
		<div class="song_column <%=category.mood%>">
			<span class="list_title">
				<%= category.mood %>
			</span>
			<br><br>
			<% category.songs.each do |song| %>
				<%= link_to "#{song.name} by #{song.artist}", song_path(song), class: "song_link" %>
				<% @cute_votes = song.count(@categories[0]) %>
		    <% @joyful_votes = song.count(@categories[1]) %>
		    <% @melancholic_votes = song.count(@categories[2]) %>
		    <% @psyched_votes = song.count(@categories[3]) %>
		    <% @serene_votes = song.count(@categories[4]) %>
		    <!-- Puts in check marker if votes for a specific category on a song reaches 5 -->
				<% if logged_in? %>
					<% if current_user.admin %>
						<% if @cute_votes >= 5 || @joyful_votes >= 5 || @melancholic_votes >= 5 || @psyched_votes >= 5 || @serene_votes >= 5 %> %>
							(Check)
						<% end %>
					<% end %>
				<% end %><br><br>
			<% end %>
		</div>
	<% end %>
</div>