/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	font-family: Sans-Serif;
	background-color: #cccccc;
	margin: 0;
}

nav {
	background-color: white;
	width: 100%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0;
}

ul {
	list-style: none;
	font-size: 20px;
}

ul li {
	display: inline;
}

.nav_link:link {
	text-decoration: none;
	color: black;
	padding-left: 50px;
	padding-right: 50px;
}

.nav_link:visited {
	color: black;
}

.nav_link:hover {
	color: #808080;
}

.container {
	text-align: center;
	padding-top: 10px;
}

.container h1 {
	font-size: 80px;
}

.wrapper {
	width: 100%;
	display: flex;
}

.song_column {
	width: 18%;
	float: left;
	padding: 10px;
	margin-right: .5%;
	margin-left: .5%;
	border-radius: 10px;
}

.Cute {
	background-color: #ffcce6;
}

.Joyful {
	background-color: #fff0b3;
}

.Melancholic {
	background-color: #b3ecff;
}

.Psyched {
	background-color: #ff9999;
}

.Serene {
	background-color: #c6ffb3;
}

.user_column {
	width: 47.9%;
	float: left;
	background-color: white;
	padding: 10px;
	margin-right: .5%;
	margin-left: .5%;
	border-radius: 10px;
}

.song_link:link {
	text-decoration: none;
	color: black;
}

.song_link:visited {
	color: black;
}

.song_link:hover {
	color: #808080;
}

#vote_wrapper {
	padding: 10px;
}

.new_vote {
	width: 15%;
	display: inline;
	padding-left: 9.56px;
	padding-right: 5px;
	padding-bottom: 9px;
	padding-top: 100px;
}

.song_info {
	padding: 10px;
	margin: 10px;
	text-align: left;
	background-color: white;
	border-radius: 10px;
}

.user_list {
	background-color: white;
	padding: 10px;
	border-radius: 10px;
}

.cool_button {
	border: 0 none;
	background-color: purple;
	text-decoration: none;
	padding: 10px;
	color: white;
	font-size: 20px;
}

.comment_form {
	padding: 10px;
}

.button_container {
	padding: 10px 0;
}